[project]
name = "Mysroj"
version = "0.1.0"
dependencies = [
    "requests",
    "pandas"
]

[project.optional-dependencies]
dev = ["pytest"]

[build-system]
requires = ["setuptools>=61.0"]
build-backend = "setuptools.build_meta"

